In [21]:
import pandas as pd

In [22]:
df=pd.read_csv('C.model.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [23]:
X=df.drop(columns=['RowNumber','CustomerId','Surname','Exited'])
y=df['Exited']

In [24]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import accuracy_score

In [25]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [26]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6573,647,Germany,Male,35,3,192407.97,1,1,1,40145.28
8775,807,Germany,Male,37,10,130110.45,2,0,1,172097.95
9234,642,Germany,Male,49,4,120688.61,1,1,0,24770.22
6827,718,France,Female,49,10,0.00,1,1,0,184474.72
3766,584,Spain,Male,36,4,82696.09,2,0,0,83058.14
...,...,...,...,...,...,...,...,...,...,...
7240,600,France,Female,32,7,98877.95,1,1,0,132973.21
9872,588,Spain,Male,37,2,0.00,2,0,1,187816.59
6499,782,France,Male,32,9,0.00,1,1,1,87566.97
3335,581,Spain,Female,31,6,0.00,2,1,0,188377.21
362,648,France,Female,50,9,102535.57,1,1,1,189543.19

In [27]:
lb=LabelEncoder()

In [28]:
X_train['Geography']=lb.fit_transform(X_train['Geography'])
X_test['Geography']=lb.transform(X_test['Geography'])

C:\Users\RBS\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\RBS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
X_train['Gender']=lb.fit_transform(X_train['Gender'])
X_test['Gender']=lb.transform(X_test['Gender'])

C:\Users\RBS\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\RBS\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
scalar=StandardScaler()

In [31]:
X_train[['CreditScore','Balance','EstimatedSalary']]=scalar.fit_transform(X_train[['CreditScore','Balance','EstimatedSalary']])

C:\Users\RBS\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\RBS\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [32]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
6573,-0.046287,1,1,35,3,1.856103,1,1,1,-1.042238
8775,1.607297,1,1,37,10,0.858160,2,0,1,1.257380
9234,-0.097962,1,1,49,4,0.707231,1,1,0,-1.310188
6827,0.687491,0,0,49,10,-1.226079,1,1,0,1.473077
3766,-0.697386,2,1,36,4,0.098629,2,0,0,-0.294370
...,...,...,...,...,...,...,...,...,...,...
7240,-0.532028,0,0,32,7,0.357846,1,1,0,0.575530
9872,-0.656047,2,1,37,2,-1.226079,2,0,1,1.531318
6499,1.348925,0,1,32,9,-1.226079,1,1,1,-0.215792
3335,-0.728391,2,0,31,6,-1.226079,2,1,0,1.541088
362,-0.035953,0,0,50,9,0.416438,1,1,1,1.561409

In [33]:
per=Perceptron(eta0=0.1)

In [35]:
per.fit(X_train,y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=0.1,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [36]:
y_pred=per.predict(X_test)

In [37]:
accuracy_score(y_pred,y_test)

0.202

In [38]:
y_test

3529    0
4822    1
213     0
2679    0
8482    0
       ..
9158    0
6686    0
9858    1
5357    0
2723    0
Name: Exited, Length: 2000, dtype: int64

In [40]:
from per import MyPerceptron

In [41]:
myper=MyPerceptron(learning_rate=0.01, n_iterations=2000)

In [42]:
X_train.values

array([[-0.04628745,  1.        ,  1.        , ...,  1.        ,
         1.        , -1.04223808],
       [ 1.60729728,  1.        ,  1.        , ...,  0.        ,
         1.        ,  1.25738007],
       [-0.09796198,  1.        ,  1.        , ...,  1.        ,
         0.        , -1.31018845],
       ...,
       [ 1.34892467,  0.        ,  1.        , ...,  1.        ,
         1.        , -0.21579191],
       [-0.72839116,  2.        ,  0.        , ...,  1.        ,
         0.        ,  1.54108848],
       [-0.03595255,  0.        ,  0.        , ...,  1.        ,
         1.        ,  1.56140871]])

In [43]:
y_train.values

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [44]:
%time myper.fit(X_train.values,y_train.values)

Training complete
[-0.73211379  0.57       -3.51        0.27       -0.15        2.44328898
 -0.53       -0.77       -6.97        0.15540252]
-15.479999999999714
Wall time: 3min 1s

In [45]:
y_pred=myper.predict(X_test.values)

In [46]:
accuracy_score(y_pred,y_test)

0.2055

In [47]:
new_per=Perceptron()

In [53]:
params={'eta0':[1e-4,0.1,1.0], 'max_iter':[1000,2000,100]}

In [54]:
gd=GridSearchCV(new_per,params,cv=10 )

In [55]:
gd.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=Perceptron(alpha=0.0001, class_weight=None,
                                  early_stopping=False, eta0=1.0,
                                  fit_intercept=True, max_iter=1000,
                                  n_iter_no_change=5, n_jobs=None, penalty=None,
                                  random_state=0, shuffle=True, tol=0.001,
                                  validation_fraction=0.1, verbose=0,
                                  warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'eta0': [0.0001, 0.1, 1.0],
                         'max_iter': [1000, 2000, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [56]:
gd.best_score_

0.7738750000000001

In [52]:
gd.best_params_

{'eta0': 0.1, 'max_iter': 1000}